* {
    color: #434758;
}
.primary {
    color: #ff8b92;
}
.secundary {
    color: #ddffa7;
}
.primary {
    color: #ffe585;
}
.secundary {
    color: #9cc4ff;
}
.primary {
    color: #e1acff;
}
.secundary {
    color: #a3f7ff;
}
.secundary {
    color: #ffffff;
}